body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  margin: 0;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255,255,255,.05);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.topbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,.07);
}

.container {
  padding: 20px;
}

input, select, button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: none;
  width: 100%;
}

button {
  background: #7c3aed;
  color: white;
  cursor: pointer;
}

.activity-item {
  background: rgba(255,255,255,.1);
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
}
